# This workflow build packages for release

name: Packaging

# Controls when the action will run. Triggers the workflow when releases created or modified
on:
  create:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v2
        with:
          python-version: '^3.7' # request python 3.7+ for datetime.datetime.fromisoformat

      - name: Build Packages
        env:
          GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}
        run: |
          python -m pip install --upgrade pip
          python -m pip install urllib3
          cd build
          ./build.sh

      - name: Archive Packages
        uses: actions/upload-artifact@v2
        with:
          name: Release Packages
          path: |
            build/debian/zjunet_*.deb
            build/rpm/zjunet_*.rpm
            build/openwrt/zjunet_*.opk
